pkgbase = chromium-extension-return-youtube-dislike
	pkgdesc = Return YouTube Dislike - chromium extension
	pkgver = 3.0.0.14
	pkgrel = 2
	url = https://github.com/noahvogt/return-youtube-dislike
	arch = any
	license = GPL3
	depends = chromium
	noextract = return-youtube-dislike-3.0.0.14.crx
	source = https://github.com/noahvogt/return-youtube-dislike/releases/download/v3.0.0.14-2/return-youtube-dislike-3.0.0.14.crx
	sha256sums = 54b6d67a7f14752720bd6432b53c85f7a4fcad246635217e59af1eb576ec95f2

pkgname = chromium-extension-return-youtube-dislike
